﻿.fullscreen {
    bottom: 0;
    right: 0;
    height:800px;
    width:100%;
}

.importButton {
    background-image: url(/Images/import.png);
    background-repeat: no-repeat;
}

.exportButton {
    background-image: url(/Images/export.png);
    background-repeat: no-repeat;
}
