﻿@using System.Web.Mvc.Html
@using System.Web.UI.WebControls
@model DataWarehouse.Models.Web.ToDo.ToDoListViewModel

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="icon-people"></i>ToDo Lists
            </div>
            <div style="padding: 5px;" class="card-block" id="container">
                @Html.Action("GridViewPartial")
            </div>
        </div>
    </div>
    <!--/.col-->
</div>
<!--/.row-->

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <i class="icon-user-follow"></i>Create List
            </div>
            <div class="card-block">
                @using (Html.BeginForm("Index", "ToDoList", FormMethod.Post, new { @id = "createListForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                @Html.DevExpress().LabelFor(x => x.Name, s => s.Text = "List Name").GetHtml()
                                @Html.DevExpress().TextBoxFor(x => x.Name, s =>
                                {
                                    s.Properties.NullText = "Enter Name";
                                    s.ShowModelErrors = true;
                                    s.Properties.ValidationSettings.Display = Display.Dynamic;
                                    s.Width = Unit.Percentage(100);
                                }).GetHtml()
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group">
                                @Html.DevExpress().LabelFor(x => x.Description, s => s.Text = "Description").GetHtml()
                                @Html.DevExpress().TextBoxFor(x => x.Description, s =>
                                {
                                    s.Properties.NullText = "Enter Description";
                                    s.ShowModelErrors = true;
                                    s.Properties.ValidationSettings.Display = Display.Dynamic;
                                    s.Width = Unit.Percentage(100);
                                }).GetHtml()
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                @Html.DevExpress().Button(s =>
                                {
                                    s.Name = "btnSubmit";
                                    s.Text = "Add New List";
                                    s.UseSubmitBehavior = true;
                                }).GetHtml()
                            </div>
                        </div>
                    </div>
                    @Html.DevExpress().ValidationSummary().GetHtml()
                    @Html.ValidationSummary(true, null, new { @class = "dxvsValidationSummary_DevEx" })
                }
            </div>
        </div>
    </div>
    <!--/.col-->
</div>
<script type="text/javascript">
    $("#createListForm").submit(function (e) {
        e.preventDefault();
        submitForm("ToDoList/Index", "POST", "createListForm");
    });
</script>