﻿@using System.Security.Claims
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="ToDoList/Index"><i class="icon-doc"></i> ToDo Lists</a>
            </li>
        </ul>
    </nav>
</div>