﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="PetroBeacon Lighthouse">
    <meta name="author" content="PetroBeacon">
    <meta name="keyword" content="Lighthouse,PetroBeacon,Oil,Gas,Peloton,OpenWells,WellEZ">
    <link rel="shortcut icon" href="~/Images/favicon.png">
    @{
        ViewBag.Title = "Demo App";
    }

    <title>@ViewBag.Title</title>
    


    @Styles.Render("~/Content/css")
    @Html.DevExpress().GetStyleSheets(
        new StyleSheet {ExtensionSuite = ExtensionSuite.NavigationAndLayout},
        new StyleSheet {ExtensionSuite = ExtensionSuite.Editors},
        new StyleSheet {ExtensionSuite = ExtensionSuite.HtmlEditor},
        new StyleSheet {ExtensionSuite = ExtensionSuite.GridView},
        new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
        new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList },
        new StyleSheet { ExtensionSuite = ExtensionSuite.RichEdit },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet },
        new StyleSheet { ExtensionSuite = ExtensionSuite.SpellChecker }
    )

    @Scripts.Render("~/Scripts/libs/common/jquery/jquery.js")
    @Scripts.Render("~/Scripts/libs/common/jquery/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/libs/common/jquery/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Scripts/libs/common/jquery/jquery.countdown.min.js")
    @Scripts.Render("~/Scripts/libs/devexpress/ace.js")
    @Scripts.Render("~/Scripts/libs/common/jquery/jquery.validate.unobtrusive.min.js")
    @Scripts.Render("~/Scripts/libs/common/jquery/jquery-ui.js")
    @Scripts.Render("~/Scripts/libs/devexpress/knockout-3.4.2.js")
    @Scripts.Render("~/Scripts/libs/devexpress/ext-language_tools.js")
    @Scripts.Render("~/Scripts/libs/devexpress/cldr.js")
    @Scripts.Render("~/Scripts/libs/devexpress/cldr.event.js")
    @Scripts.Render("~/Scripts/libs/devexpress/cldr.supplemental.js")
    @Scripts.Render("~/Scripts/libs/devexpress/globalize.js")
    @Scripts.Render("~/Scripts/libs/devexpress/globalize.message.js")
    @Scripts.Render("~/Scripts/libs/devexpress/globalize.number.js")
    @Scripts.Render("~/Scripts/libs/devexpress/globalize.date.js")
    @Scripts.Render("~/Scripts/libs/devexpress/globalize.currency.js")
    @Scripts.Render("~/Scripts/libs/template/tether.min.js")
    @Scripts.Render("~/Scripts/libs/template/bootstrap.min.js")
    @Scripts.Render("~/Scripts/libs/template/pace.min.js")
    @Scripts.Render("~/Scripts/libs/jquery.signalR-2.2.2.min.js")


    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-108393344-1', 'auto');
        //if (location.hostname === 'localhost') {
        //    ga('set', 'sendHitTask', null);


        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->


    @Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
    new Script { ExtensionSuite = ExtensionSuite.GridView },
    new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
    new Script { ExtensionSuite = ExtensionSuite.Editors },
    new Script { ExtensionSuite = ExtensionSuite.Chart },
    new Script { ExtensionSuite = ExtensionSuite.TreeList }
)
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">

    <header class="app-header navbar">
        <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" style="color: white" type="button">&#9776;</button>
        <ul class="nav navbar-nav hidden-md-down float-left">
            <li class="nav-item">
                <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
            </li>
        </ul>
        <h5 style="text-align: center; position: fixed; margin-top: 10px; left: 45%; color: white; z-index: -1">Demo App</h5>
    </header>
    <div class="app-body">
        @Html.Action("SidebarPartial")
        <!-- Main content -->
        <main class="main">
            @Html.Partial("_BreadcrumbPartial")
            <div class="container-fluid">
                <div id="ui-view"></div>
                @Html.DevExpress().LoadingPanel(settings =>
                {
                    settings.Name = "LoadingPanel";
                    settings.Modal = true;
                    settings.ContainerElementID = "";
                    settings.Text = "Loading...";
                }).GetHtml()
            </div>
        </main>
    </div>

    <!-- GenesisUI main scripts -->
    <script src="~/Scripts/app.js?v1.10"></script>

    <script type="text/javascript">
        var nextNotificationId = 0;
        var notificationCount = 0;
        var notification = [];

        $(document).ready(function () {

            // Init SignalR
            var client = $.connection.informationHub;
            if (client) {
                client.client.addNotification = function (message, icon, textType) {
                    if (notificationCount == 0) {
                        var $bell = $('<span id="notification_info" class="badge badge-pill badge-danger notification_count">0</span>');
                        $("#notification_bell").append($bell);
                    }
                    notificationCount++;
                    $('.notification_count').each(function () {
                        $(this).text(notificationCount);
                    });
                    if (textType == null) textType = "text-info";
                    if (icon == null) icon = "icon-info";
                    var $element = $('<a href="#" class="dropdown-item" onclick="handleNotification(this.id);"><i class="' + icon + ' ' + textType + '"></i> ' + message + '</a>');
                    $element.attr("id", "notification_" + nextNotificationId);
                    $element.insertAfter($("#notification_list"));
                    notification.push($element);

                    nextNotificationId++;
                };

                //ping pong with the server, the server can return 401 code
                client.client.ping = function () {
                    $.connection.informationHub.server.ping();
                };

                // Start the connection.
                $.connection.hub.start().done(function () {
                    //We are connected to the information hub
                });
            }

                // set return url for change password view
            $('#changePassword').one('click', function (e) {
                //e.preventDefault();
                this.href = this.href + "&ReturnUrl=%2F%23" + window.location.hash.substring(1);;;
                //$(this).click();
            });

            console.log(window.location.href);
        });

        function clearNotifications() {
            $("#notification_info").remove();
            notification.forEach(function (element, index, array) {
                element.remove();
            });
            notification = [];
            notificationCount = 0;
            $('.notification_count').each(function () {
                $(this).text(notificationCount);
            });
        }

        function handleNotification(id) {
            $("#" + id).remove();
            notificationCount--;
            if (notificationCount == 0) {
                $("#notification_info").remove();
            }
            $('.notification_count').each(function () {
                $(this).text(notificationCount);
            });
        }

        MVCxClientGlobalEvents.AddCallbackErrorHandler(function (s, e) {
            // do not show an error message in devexpress controls if server returns 401 code - it means session is expired
            var re = /401[\.\d\s-]*Unauthorized/;
            if (re.test(e.message))
                e.handled = true;
        });

        MVCxClientGlobalEvents.AddControlsInitializedEventHandler(function (s, e) {
            if ($.initPageLoaded)
                return;

            // Set url
            setTimeout(function () {
                $.initPageLoaded = true;
                var hash = location.hash;
                if (sessionStorage.getItem("currentPage")) {
                    hash = sessionStorage.getItem("currentPage");
                    sessionStorage.removeItem("currentPage");
                }
                var url = hash.replace(/^#/, '');
                if (url !== '' && !/.*missing.*/i.test(url)) {
                    setUpUrl(url);
                } else {
                    setUpUrl($.defaultPage);
                }
            }, 100);
        });
        MVCxClientGlobalEvents.AddControlsInitializedEventHandler(InitalizejQuery);

        function InitalizejQuery() {
            $('.draggable').draggable({
                helper: 'clone',    
                start: function (ev, ui) {
                    var $draggingElement = $(ui.helper);
                    $draggingElement.width(GridViewFields.GetWidth());
                },
                cursor: "move"
            });
            $('.draggable').droppable({
                activeClass: "hover",
                tolerance: "intersect",
                hoverClass: "activeHover",
                drop: function (event, ui) {
                    var draggingSortIndex = ui.draggable.attr("visibleIndex");
                    var targetSortIndex = $(this).attr("visibleIndex");
                    if (draggingSortIndex != targetSortIndex) {
                        GridViewFields.PerformCallback(
                        {
                            draggingIndex: draggingSortIndex,
                            targetIndex: targetSortIndex,
                            command: "DRAGROW"
                            });
                    }
                }
            });
        }
    </script>
</body>
</html>